:root{
    --main-color:#13005A;
    --sec-color:#6D1CAD;
    --white-color:#FFFFFF;
    --black-color:#323234;
    --button-active-col:#ED893E;
    --card-color:#D9D9D9;
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    text-align: right;
    color: white;
}

nav .hamburger-icon{
    padding: 10px;
    
}


nav .container-navbar{
    position: absolute;
    width: 100%;
    background-color: var(--white-color);
    padding: 20px 0px 20px 0px;
    border-top: 1px solid var(--main-color) ;
    justify-content: center;
}

/* Property navbar responsive */
nav .inactive-nav{
    text-align: center;
    background-color: var(--white-color);
    transform: translateY(-200px);
    transition: transform 0.2s;
}

.active-nav{
    display: flex;
    transform: translateY(70px);
    transition: transform 0.2s;
    z-index: 0;
}

nav .inactive-nav .item-activeNavbar a,
nav .active-nav .item-activeNavbar a{
    display: flex;
    padding: 10px;
    justify-content: center;
    text-decoration: none;
    color: var(--main-color);
    
}

main #section-one-about .section-one-wrap{
    padding: 10%;
    text-align: center;
}

main  .section-one-wrap .section-one-item{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

main .section-one-wrap .section-one-item p{
    text-align: justify;
    margin-top: 20px;
    font-size: 20px;
    width: 100%;
}

main .section-one-wrap .section-one-item img{
    width: 20em;
}

main .section-two-about .section-two-wrap{
    background-image: linear-gradient(var(--sec-color),var(--main-color));
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    padding: 10%;
    justify-content: center;
    align-items: center;
}

main .section-two-about .section-two-wrap p{
    text-align: justify;
    font-size: 20px;
    margin-top: 20px;
}

main .section-two-about .section-two-wrap img{
    width: 20em;
}

footer{
    background-color: var(--main-color);
    color: var(--white-color);
    padding: 10%;
}

footer .wrap-footer-conten .footer-product .footer-conten-item p{
    margin: 10px 0px 10px 0px;

}

footer .wrap-footer-conten .footer-product .footer-conten-item h2{
    margin-top: 20%;
}

footer .wrap-footer-conten .footer-conten-product{
    margin-top: 10%;
}

footer .wrap-footer-conten .footer-conten-product ul{
    margin: 4% 0% 10% 0%;
}

footer .wrap-footer-conten .footer-conten-product ul li{
    margin-left: 20px;
}

.wrap-footer-conten .footer-cp{
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
    border-top: 1px solid;
}

@media only screen and (min-width: 576px) {

}

@media only screen and (min-width: 768px) {
    nav .hamburger-icon{
        display: none;
    }
    
    
    /* Property navbar responsive */
    nav .inactive-nav{
        display: flex;
        justify-content: right;
        translate: transform;
    }
 
    nav .container-navbar{
       display: flex;
       flex-direction: row;
       transform: translateY(0px);
       background-color: transparent;
       padding:10px 0px 0px 0px;
       border: none;
    }
    
    nav .inactive-nav .item-activeNavbar a{
        text-decoration: none;
        color: var(--main-color);
        font-size: 1.5em;
        padding: 2px 1em;
        margin: 0px 1em;
    }

    nav .container-navbar a:hover{
        text-decoration: none;
        color: var(--sec-color);
        transition: ease-in 100ms;
    }

    nav .container-navbar .item-activeNavbar{
        display: flex;
    
    }
    
    nav .container-navbar .item-activeNavbar :last-child{
        margin: 0px 3em 0px 1em;
        background-color: var(--button-active-col);
        border-radius: 5px;
    
    }
}

@media only screen and (min-width: 992px){
    footer{
        padding: 4% 10% 2% 10%;
    }
    
    footer .wrap-footer-conten .footer-product{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 20px;
    }
    
    footer .wrap-footer-conten .footer-product .footer-conten-item{
        width: 50%;
    }

    footer .wrap-footer-conten .footer-product .footer-conten-item h2{
        margin:0;
    }
    
    footer .wrap-footer-conten .footer-product .footer-conten-product{
        margin:0;
     
    }
}